// ==================================================
// Defaults
// ==================================================

html 
  font-size 62.5%

body
  $font-family('primary')
  margin 0
  overflow-x hidden
  background $orange-gradient

body
a
  color $gray
  font-size $text-size
  text-decoration none

.wrapper
  display flex
  align-items center
  justify-content center
  height 100vh
  padding 2rem

.content
  background-color $white
  padding $padding-content
  box-shadow 0 0 8px 0 $red-medium
  position relative

@media (max-width: $screen-sm)
  .wrapper 
    height auto

  .content
    padding 2rem