// ==================================================
// Types
// 
// 1. Headings
// ==================================================

//
// 1. Headings
// --------------------------------------------------

h1
  $font('h1', 'bold')

h2
  $font('h2', 'light')

h3
  $font('h3', 'light')

@media (max-width: $screen-sm)
  h1
    font-size 3rem
  h2
    font-size 2.4rem
  h3
    font-size 2rem