// ==================================================
// Reset
// ==================================================

*
  box-sizing border-box

  &:before
  &:after
    box-sizing border-box

h1, h2, h3, h4, h5, h6, ul
  margin 0

ul
  list-style-type none
  padding 0