// ==================================================
// Search
// ==================================================

.search-location__container
  display flex
  max-width 50rem
  margin 0 auto
  flex-direction column
  padding 16rem 0

  .text__input
  .text__input__container
    width 100%

  .text__input
    padding-right 40px

  .text__input__container
    position relative

  .button
    position absolute
    top 24px
    right 0
  
  .form-location
    margin-bottom 40px

  .current-position
    cursor pointer

  .text
    font-size 1.8rem
    text-align center
    margin-bottom 28px

    &__position
      margin 0

    &__position
    &__position>a
      $font-family('regular')
      font-size 2rem

    &__position>a
      border none
      border-bottom 1px dashed $gray
      &:hover
        color darken($gray, 20%)
        border-bottom-style solid