// ==================================================
// Weather
// ==================================================

.weather-container__wrapper
  h2
    margin-bottom 2rem

  h3
    margin-bottom 4px

  .results
    display flex
    flex-wrap wrap
    justify-content space-between
    max-width 70rem
    color $red
    align-items center
    margin-bottom 8rem

    .temp
      $font-weight('regular')
      font-size 12rem
      letter-spacing -1.4rem

      &__icon
        font-size 16rem

      &__day
        display flex
        flex-direction column
        align-items center
        min-width 18rem

        &>div
          display flex
          justify-content space-between
          width 100%
          padding 0.6rem 0

        & span
          $font-weight('light')
          font-size 2rem

.week
  display flex
  justify-content space-between

  .day
    text-align center
    &__temp
    &__name
      font-size 1em
      line-height 1
      margin-bottom 1.8rem
    &__icon
      font-size 4.5rem
      line-height 4.5rem
      &__container
        margin-bottom 2rem

@media (max-width: $screen-sm)
  .weather-container
    h2
      margin-bottom 1rem
    & .results
      max-width 100%
      flex-direction column
      margin-bottom 3rem
      &>div
        margin-bottom 2rem
      .temp
        font-size 4rem
        letter-spacing 0
        &__icon
          font-size 6rem
        &__day
          & span
            font-size 1.6rem

  .week 
    flex-direction column

    .day__name
      margin-bottom 1.2rem