// ==================================================
// Alert
// ==================================================

.alert
  padding 1.2rem
  text-align center
  font-size 1.4rem
  line-height 2.2rem
  margin 3rem 0 0
  border-radius 0.8rem
  color $white

  &.error
    background-color darken($red, 20%)
  
  &.success
    background-color darken($green, 20%)