// ==================================================
// Button
// ==================================================

.button
  border none
  background none
  padding 0
  color $gray
  cursor pointer
  outline none
  &:hover
  &:focus
    color darken($gray, 20%)
  &:disabled
    color lighten($gray-light, 10%)

  &__icon
    &>.icon
      font-size 3rem