// ==================================================
// Form
// ==================================================

.text__input
  border none
  border-bottom 2px solid $gray-medium
  padding 8px
  text-align center
  $font('h1', 'bold', 'primary')
  outline none
  color $gray
  &:hover
  &:focus
    border-color darken($gray-medium, 20%)
  &::placeholder
    color $gray-light
  &:disabled
    cursor not-allowed
    color $gray-light
    border-color $gray-light

.switch
  position relative
  display block
  width 8rem
  height 2.8rem
  padding 1px
  border-radius 1.5rem
  cursor pointer
  border 1px solid $gray-border

  &__input
    position absolute
    top 0
    left 0
    opacity 0

  &__label
    position relative
    display block
    height inherit 
    $font-weight('bold')
    font-size 1.2rem
    line-height 1
    &:before
    &:after
      position absolute
      top 25%
      line-height 1
      transition inherit
    &:before
      content attr(data-on)
      left 1.4rem
    &:after
      content attr(data-off)
      right 1.4rem

  &__input:checked ~ &__handle
    right inherit
    left 1px

  &__handle
    position absolute
    top 1px
    right 1px
    height 2.4rem
    width 3rem
    border 1px solid $gray-border
    border-radius 1.5rem
    background $white