// ==================================================
// Navbar
// ==================================================

.navbar
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  margin-bottom 6.5rem

  &__left
    display flex

  .title
    margin 0 0 0 3.5rem

@media (max-width: $screen-sm)
  .navbar 
    flex-direction column
    margin-bottom 2rem

    &__left
      margin-bottom 1.8rem